[Unit]
Description=Battery warning event listener service
After=graphical.target

[Service]
ExecStart=/bin/bash -c '$HOME/.config/dotfiles/hyprland/scripts/battery-events.sh'
Restart=always
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=default.target
