[Unit]
Description=Battery warning event listener service
After=graphical.target


[Service]
Type=simple
ExecStart=/bin/bash %h/.config/dotfiles/hyprland/scripts/battery_events.sh
Restart=always
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=default.target
