* {
  font-family: "JetBrainsMonoNerdFontMono";
  font-size: 24px;
  transition: background-color 0.5s;
}

window {
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 10px;
}

button {
  color: #ebdbb2;
  background-color: #c812e0;
  border: 3px solid;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 10px #ff007f, 0 0 20px #ff33ff, 0 0 30px #ff66cc;

}

button:active,
button:hover {
  background-color: #ff007f;
  box-shadow: 0 0 10px #ff007f;
}

button:focus {
  background-color: #ff33ff; 
  border-color: #ff007f;
  box-shadow: 0 0 10px #ff33ff; 
  outline: none;
}

#lock {
  background-image: url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png");
}

#logout {
  background-image: url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png");
}

#suspend {
  background-image: url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png");
}

#hibernate {
  background-image: url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png");
}

#shutdown {
  background-image: url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png");
}

#reboot {
  background-image: url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png");
}
